body{
	font-family: cursive;
	top:0; 
}

li a{
	text-decoration: none;
	color: black;
}

header{
	display: grid;
	position: fixed;
	top:0;
	width:99%;
	background-color:#87CEFA; 
	grid-template-areas: "main tables requests";
	font-size: 20px
}

header div{
	text-align: center;
}

header div a{
	color:white;
	text-decoration: none
}

.main{
	grid-area: main;
}

.tables{
	grid-area: tables;	
}

.requests{
	grid-area: requests;	
}

.mainPhoto img{
	margin: 20px;
	width: 400px
}

.mainPhoto {
	margin-top:8%;
}

.grid{
	display: grid;
	grid-template-areas: "description"
	"picture"
}

.description{
	grid-area: description;
}

.picture{
	grid-area: picture;
}

.picture img{
	width: 300px;
}

.tables_grid{
	display: grid;
	grid-template-areas: "grid_one grid_two grid_three"

}

.grid1{
	grid-area: grid_one;
}

.grid2{
	grid-area: grid_two;
}

.grid3{
	grid-area: grid_three;
}
